---
---
footer[data-dark="true"] {
  --text: #002050;
  color: #002050;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 250px;
  min-height:250px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
}

footer a {
  color: #002050;
}

footer a:hover {
  color: var(--primary);
}

footer .icon {
  font-size: var(--xl);
}
